@{
    ViewBag.Title = "Filtering";
}

<h2>Filtering</h2>


<script type="text/javascript">

    var dtFiltering = [];
    dtFiltering.getTableElement = function () {
        return $('#filtering');
    }
    dtFiltering.getDataTable = function () {
        return dtFiltering.getTableElement().DataTable();
    }
    $(document).ready(function () {


        dtFiltering.getTableElement().find('tfoot tr th').each(function (colIdx) {
            //var searchTo = $.trim($(this).html());
            //if ($(this).attr('input-type') == 'text' ){
            //    $(this).html("<input type='text' col-idx='" + colIdx + "' class='form-control' placeholder='Buscar por " + searchTo + "'></input>");
            //}
            //else if ($(this).attr('input-type') == 'select') {
            //    $(this).html($("<ul col-idx='" + colIdx + "' class='dropdown-menu'></ul>").append($(this).find('ul li')));
            //}
        });

        dtFiltering.getTableElement().DataTable({
            "serverSide": true,
            "processing": true,
            "bSort": false,
            "sAjaxSource": "/api/Guest",
            "columns": [
                    { "data": "Name" },
                    { "data": "MailAddress" },
                    { "data": "Country" },
                    { "data": "Anniversary" },
                    { "data": "Gender" }],
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json",
                    url: sSource,
                    data: aoData,
                    success: function (data) {
                        fnCallback(data);
                        dtFiltering.getTableElement().show();
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });
            }

        });

        //Aplicando filtro à coluna
        dtFiltering.getDataTable().columns().each(function (colIdx) {
            $('[col-idx]', dtFiltering.getDataTable().columns(colIdx).footer()).keypress(function (evt) {
                if (evt.keyCode == 13) {
                    doColumnSearch($(this).val(), $(this).attr('col-idx'));
                }

            })
        });
        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true
        }).on('change', function () {
            doColumnSearch($(this).val(), $(this).attr('col-idx'));
        });

    });

    function dropDownSearch(element, colIdx) {
        doColumnSearch($.trim($(element).attr('value')), colIdx)
    }

    function doColumnSearch(text, colIdx) {
        dtFiltering
            .getDataTable().
                column(colIdx)
                .search(text)
                .draw();
    }

</script>

<div class="container">
    <table id="filtering" class="table dt-responsive">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-Mail</th>
                <th>País</th>
                <th>Aniversário</th>
                <th>Sexo</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    <input type='text' col-idx='0' class='form-control' placeholder='Buscar por Nome' />
                </th>
                <th>
                    <input type='text' col-idx='1' class='form-control' placeholder='Buscar por E-mail' />
                </th>
                <th>
                    <input type='text' col-idx='2' class='form-control' placeholder='Buscar por País' />
                </th>
                <th>
                    <div class="input-group date">
                        <input col-idx="3" type="text" class="form-control datepicker" placeholder='Buscar por Aniverário' />
                    </div>
                </th>
                <th>

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle dropDown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Selecione
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" href="javascript:void(0);" tabindex="-1" value="Female" onclick="javascript:dropDownSearch(this, 4)">Female</a></li>
                            <li role="presentation"><a role="menuitem" href="javascript:void(0);" tabindex="-1" value="Male" onclick="javascript:dropDownSearch(this, 4)" >Male</a></li>
                            <li role="presentation"><a role="menuitem" href="javascript:void(0);" tabindex="-1" value="" onclick="javascript:dropDownSearch(this, 4)">Todos</a></li>
                            
                        </ul>
                    </div>


                </th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>