@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<script type="text/javascript">
    $(document).ready(function () {
        var names = [];
        $("#nameList li").each(function (index, item) {
            var fullName = $.trim($(item).html());
            var firstName = fullName.split(' ');
            var secondName = fullName.split(' ');

        });
    });
</script>

<ol class="nameList" id="nameList">
    <li>
        Becky				 				Powers
    </li>
    <li>
        Gregory				 				Rodriquez
    </li>
    <li>
        Paula				 				Smith
    </li>
    <li>
        Dolores				 				Rodriguez
    </li>
    <li>
        Derrick				 				Hawkins
    </li>
    <li>
        Shirley				 				Sherman
    </li>
    <li>
        Otis				 				Garrett
    </li>
    <li>
        Saul				 				Montgomery
    </li>
    <li>
        Felipe				 				Hanson
    </li>
    <li>
        Luther				 				Carson
    </li>
    <li>
        Barbara				 				Jefferson
    </li>
    <li>
        Juan				 				Mason
    </li>
    <li>
        Lionel				 				Tyler
    </li>
    <li>
        Gail				 				Rhodes
    </li>
    <li>
        Preston				 				Snyder
    </li>
    <li>
        Simon				 				Powell
    </li>
    <li>
        Isaac				 				Hicks
    </li>
    <li>
        Gwendolyn				 				Allison
    </li>
    <li>
        Marie				 				Sandoval
    </li>
    <li>
        Catherine				 				Tate
    </li>
    <li>
        Stewart				 				Mcguire
    </li>
    <li>
        Nora				 				Beck
    </li>
    <li>
        Cornelius				 				Bishop
    </li>
    <li>
        Shaun				 				Conner
    </li>
    <li>
        Victoria				 				Howell
    </li>
    <li>
        Joanna				 				Hill
    </li>
    <li>
        Lyle				 				Cohen
    </li>
    <li>
        Andrea				 				Cole
    </li>
    <li>
        Barry				 				Sanchez
    </li>
    <li>
        Gretchen				 				Lambert
    </li>
    <li>
        Tami				 				Austin
    </li>
    <li>
        Maxine				 				Lopez
    </li>
    <li>
        Tabitha				 				Adkins
    </li>
    <li>
        Clint				 				Townsend
    </li>
    <li>
        Kelly				 				Ferguson
    </li>
    <li>
        Melba				 				George
    </li>
    <li>
        Mary				 				Schultz
    </li>
    <li>
        Rebecca				 				Goodman
    </li>
    <li>
        Tyrone				 				Patrick
    </li>
    <li>
        Casey				 				Bridges
    </li>
    <li>
        Lawrence				 				Evans
    </li>
    <li>
        Agnes				 				Barnett
    </li>
    <li>
        Dixie				 				Berry
    </li>
    <li>
        Miriam				 				Jones
    </li>
    <li>
        Toni				 				Rivera
    </li>
    <li>
        Jenny				 				Scott
    </li>
    <li>
        Alyssa				 				Bryant
    </li>
    <li>
        Casey				 				Reyes
    </li>
    <li>
        Tamara				 				Higgins
    </li>
    <li>
        Elbert				 				Delgado
    </li>
    <li>
        Ellen				 				Jordan
    </li>
    <li>
        Jerry				 				Fitzgerald
    </li>
    <li>
        Adrian				 				Drake
    </li>
    <li>
        Rachael				 				Chapman
    </li>
    <li>
        Josephine				 				Richards
    </li>
    <li>
        Ben				 				Vargas
    </li>
    <li>
        Merle				 				Clayton
    </li>
    <li>
        Dexter				 				Valdez
    </li>
    <li>
        Rose				 				Klein
    </li>
    <li>
        Dean				 				Reed
    </li>
    <li>
        Clayton				 				Adams
    </li>
    <li>
        Mildred				 				Newton
    </li>
    <li>
        Adam				 				Duncan
    </li>
    <li>
        Calvin				 				Marshall
    </li>
    <li>
        Patty				 				Richardson
    </li>
    <li>
        Matt				 				Park
    </li>
    <li>
        Santiago				 				Watson
    </li>
    <li>
        Lynette				 				Hamilton
    </li>
    <li>
        Oscar				 				Benson
    </li>
    <li>
        Laurence				 				Butler
    </li>
    <li>
        Irving				 				Webster
    </li>
    <li>
        Cynthia				 				Hines
    </li>
    <li>
        Sarah				 				Baldwin
    </li>
    <li>
        Kristin				 				Mcdaniel
    </li>
    <li>
        Camille				 				Stone
    </li>
    <li>
        Alexandra				 				Dean
    </li>
    <li>
        Jeff				 				Weber
    </li>
    <li>
        Lorena				 				Sparks
    </li>
    <li>
        Jim				 				Todd
    </li>
    <li>
        Chester				 				Bates
    </li>
    <li>
        Brooke				 				Yates
    </li>
    <li>
        Allan				 				Horton
    </li>
    <li>
        Francis				 				Arnold
    </li>
    <li>
        Dora				 				Potter
    </li>
    <li>
        Brittany				 				Griffin
    </li>
    <li>
        Dennis				 				Graves
    </li>
    <li>
        Eduardo				 				Watkins
    </li>
    <li>
        William				 				Hammond
    </li>
    <li>
        Chelsea				 				Nunez
    </li>
    <li>
        Marianne				 				Carroll
    </li>
    <li>
        Ashley				 				Cummings
    </li>
    <li>
        Helen				 				Alvarado
    </li>
    <li>
        Ross				 				Norris
    </li>
    <li>
        Terrence				 				Bass
    </li>
    <li>
        David				 				Sanders
    </li>
    <li>
        Arlene				 				Sutton
    </li>
    <li>
        Juana				 				Briggs
    </li>
    <li>
        Frank				 				Mccormick
    </li>
    <li>
        Stuart				 				Moss
    </li>
    <li>
        Grace				 				Fisher
    </li>
</ol>